<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Image References

https://www.lynda.com/Excel-tutorials/Excel-Macros-Depth-Office-365Excel-2019/2932495-2.html
https://www.lynda.com/Python-tutorials/Python-Automation-Testing/651196-2.html
https://appsmaventech.com/blog/The-Evolution-Of-Web-Development-Via-Machine-Learning

-->
<main class="container">

  <div class="jumbotron">
    <h1 class="display-10"><%= title %></h1>
  </div>

  <ul class="list-unstyled">
    <li class="media">
      <img src="/Assets/images/project1(128).png" class="mr-3" alt="Product 1 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Example 1 </h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Aliquet lectus proin nibh nisl condimentum id venenatis a. Sed blandit libero volutpat sed cras ornare arcu dui. Aliquam purus sit amet luctus venenatis lectus magna fringilla
      </div>
    </li>
    <li class="media my-4">
      <img src="/Assets/images/project2(128).png" class="mr-3" alt="Product 2 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Example 2"</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Aliquet lectus proin nibh nisl condimentum id venenatis a. Sed blandit libero volutpat sed cras ornare arcu dui. Aliquam purus sit amet luctus venenatis lectus magna fringilla
      </div>
    </li>
    <li class="media">
      <img src="/Assets/images/project3(128).png" class="mr-3" alt="Product 3 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Example 3</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Aliquet lectus proin nibh nisl condimentum id venenatis a. Sed blandit libero volutpat sed cras ornare arcu dui. Aliquam purus sit amet luctus venenatis lectus magna fringilla
      </div>
    </li>
  </ul>


</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>