<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Image References

https://www.lynda.com/Excel-tutorials/Excel-Macros-Depth-Office-365Excel-2019/2932495-2.html
https://www.lynda.com/Python-tutorials/Python-Automation-Testing/651196-2.html
https://appsmaventech.com/blog/The-Evolution-Of-Web-Development-Via-Machine-Learning

-->
<main class="container">

  <div class="jumbotron">
    <h1 class="display-10"><%= title %></h1>
  </div>

  <ul class="list-unstyled">
    <li class="media">
      <img src="/Assets/images/project1(128).png" class="mr-3" alt="Product 1 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Automation Scripts @ Amdocs </h5>
        While I was working in Amdocs, I automated several report creating tools, from Visual Basic macros for excel, 
        to Python routines that integrated with other tools.
      </div>
    </li>
    <li class="media my-4">
      <img src="/Assets/images/project2(128).png" class="mr-3" alt="Product 2 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">JavaScript game "A Fly in my Tacos"</h5>
        As part of an assignment for class COMP-125 at Centennial College, I developed a JavaScript based 
        game where the player had to catch a fly to get points. The difficulty increased progressively.
      </div>
    </li>
    <li class="media">
      <img src="/Assets/images/project3(128).png" class="mr-3" alt="Product 3 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">SIAPPEP Project</h5>
        Implementation of an Integral Management system of Digital Oilfield and Asset Optimization Technology (SIAPPEP),
         in the Northern and Southern Regions ofPEMEX exploration and production (PEP).
      </div>
    </li>
  </ul>


</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>