<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<main class="container">

  <div class="jumbotron">
    <h1 class="display-10"><%= title %></h1>
  </div>

  <ul class="list-unstyled">
    <li class="media">
      <img src="/Assets/images/service1(128).png" class="mr-3" alt="Product 1 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Automation Scripts </h5>
        If your company uses Excel as part of your main workhorse tools, we offer automation scripts 
        and integration with other tools such as Qlik.
        
      </div>
    </li>
    <li class="media my-4">
      <img src="/Assets/images/service2(128).png" class="mr-3" alt="Product 2 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Python Projects</h5>
        We offer the development of Python applications. From automation scripts to standalone applications.
      </div>
    </li>
    <li class="media">
      <img src="/Assets/images/service3(128).png" class="mr-3" alt="Product 3 photo">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Web Development</h5>
        Do you have a website in mind for your business? We can offer a key in hand solution completely
        customized to your needs!
      </div>
    </li>
  </ul>

</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>