<!--
Authors: Jose Aguilar 301119671
Kristopher Sabado - 301118188
Muhammad Ali Asjid - 301105070 
Hussan Mirza - 301069260

Date: 11-15-2020
FileName : add.ejs

Add view
 -->

 <%- include ../partials/header.ejs %>

 <%- include ../partials/main_nav.ejs %>
 
 
 <!-- Content for the Add page -->
 <div class="container">
     <div class="row">
         <div class="offset-md-3 col-md-6">
             <h1><%= title %></h1>
 
             <form class="form" method="POST" id="form">
                 <div class="form-group">
                     <label for="nameTextField">Survey Title</label>
                     <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Survey Title"
                         name="name" required>
                 </div>
 
                 <!--Survey Description-->
 
                 <div class="form-group">
                     <label for="surveyDescTextField">Survey Description</label>
                     <input type="text" class="form-control" id="surveyDesc" placeholder="Enter Survey Description"
                         name="surveyDesc" required>
                 </div>
 
                 <!--Survey type-->
 
                 <select name="type" class="form-select" aria-label="Default select example" id="selection">
                     <option selected>Type of Survey</option>
                     <option value="1">Multiple Choice</option>
                     <option value="2">Short Answer</option>
 
                 </select>
                 <br>
                 <br>
 
                 
                 <!--Question 1-->
                 <label for="question1">Question 1</label>
                 <div class="form-group" id="question1">
                     <div class="input-group" id="questionBox1">
                         <input type="text" aria-label="question1" class="form-control" name="questions">
                         <div class="col-xs-2">
 
                         </div>
                     </div>
 
                
 
                 <div class="form-group" id="questionarray">
 
                 </div>
 
 
                 <!-- Buttons-->
                 <button type="button" class="btn btn-primary" id="add" onclick="addEntry()">
                     <i class="fas fa-edit"></i> Add Entry</button>
                 <button class="btn btn-primary" type="submit">
                     <i class="fas fa-edit"></i> Submit</button>
 
                 <a href="/survey-list" class="btn btn-warning">
                     <i class="fas fa-undo"></i> Cancel</a>
 
             </form>
         </div>
 
     </div>
 
 </div>
 

 
 <script>
 let count = 2;
     function addEntry() {
         
         console.log("YOU CLICKED ME!");



         
         let type = document.getElementById("selection");
         selection = type.value;
         if (selection==2){
         let element = document.getElementById('questionarray');
         let div = element.appendChild(document.createElement('div'));
         div.innerHTML = "<label for=\"questionTextField\">Question "+count+"</label><input type=\"text\" \
         class=\"form-control\" id=\"questionTextField\" placeholder=\"Enter the "+count+" Question\" name=\"questions\" value=\"\">"
         }
         else if (selection == 1)
         {
            let element = document.getElementById('questionarray');
         let div = element.appendChild(document.createElement('div'));
         div.innerHTML = "<label for=\"questionTextField\">Question "+count+"</label><input type=\"radio\" \
         class=\"form-control\" id=\"questionTextField\" placeholder=\"Enter the "+count+" Question\" name=\"questions\" value=\"\">"
         }
         {console.log("NOT!")}
         count++;
         
     }
 </script>
 

 

 
 <%- include ../partials/bottom_nav.ejs %>
 
 <%- include ../partials/footer.ejs %>