<!--
Authors: Jose Aguilar 301119671
Kristopher Sabado - 301118188
Muhammad Ali Asjid - 301105070 
Hussan Mirza - 301069260

Date: 11-15-2020
FileName : add.ejs

Add view
 -->

 <%- include ../partials/header.ejs %>

 <%- include ../partials/main_nav.ejs %>
 
 
 <!-- Content for the Add page -->
 <div class="container">
     <div class="row">
         <div class="offset-md-3 col-md-6">
             <h1><%= title %></h1>
 
             <form class="form" method="POST" id="form">
                 <div class="form-group">
                     <label for="nameTextField">Survey Title</label>
                     <input type="text" class="form-control"
                     id="nameTextField"
                     placeholder="Enter the Survey Title"
                     name="name" required>
                 </div>
                 
                 <!--Survey Description-->
 
                 <div class="form-group">
                     <label for="surveyDescTextField">Survey Description</label>
                     <input type="text" class="form-control"
                     id="surveyDesc"
                     placeholder="Enter Survey Description"
                     name="surveyDesc" required>
                 </div>                
                                        
                  <!-- Buttons-->
                 <a href="/survey-list/question" class="btn btn-primary" role="button">
                 <i class="fas fa-edit"></i> Next</a>
                 
                 <a href="/survey-list" class="btn btn-warning">
                     <i class="fas fa-undo"></i> Cancel</a>
 
             </form>
         </div>
 
     </div>
     
 </div>
 
 <%- include ../partials/bottom_nav.ejs %>  
 
 <%- include ../partials/footer.ejs %>