<!--
Authors: Jose Aguilar 301119671
Kristopher Sabado - 301118188
Muhammad Ali Asjid - 301105070 
Hussan Mirza - 301069260

Date: 11-15-2020
FileName : answer.ejs

Answer a survey view
 -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->

<div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden"></span>
  </div>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form"  method="POST" >
                <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey Title"
                    name="name" 
                    value="<%= survey.name %>"
                    readonly>
                </div>

             


                 <!-- Repeatable Template Row -->

                 <% for(let count = 0; count < survey.questions.length; count++) { %>
                        <div class="form-group">
                        <label for="questionTextField">Question <%=count+1 %></label>
                        <input type="text" class="form-control"
                        id="questionTextField"
                        placeholder="Enter the First Question"
                        name="questions" 
                        value="<%= survey.questions[count] %>"
                        readonly>
                    </div>

                    <div class="form-group">
                        <label for="answerTextField">Answer <%=count +1%></label>
                        <input type="text" class="form-control"
                        id="AnswerTextField"
                        placeholder="Please enter a response"
                        name="answers" 
                        value=""
                        required>
                    </div>
                    <% } %>
        
                   <%    var today = new Date();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    %>

                <button class="btn btn-primary btn-submit" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>