<!--
Authors: Jose Aguilar 301119671
Kristopher Sabado - 301118188
Muhammad Ali Asjid - 301105070 
Hussan Mirza - 301069260

Date: 11-15-2020
FileName : edit.ejs

Edit a survey view
 -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey Title"
                    name="name" 
                    value="<%= survey.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="description1TextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Please describe your survey"
                    name="description" 
                    value="<%= survey.description %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="creatorTextField">Creator</label>
                    <input type="text" class="form-control"
                    id="creatorTextField"
                    placeholder="Enter your name"
                    name="creator" 
                    value="<%= survey.creator%>"
                    required>
                </div>                              

                <% for(let count = 0; count < survey.questions.length; count++) { %>
                    <div class="form-group" id="questiontag">
                        <label for="questionTextField">Question <%=count+1 %></label>
                        <input type="text" class="form-control" id="questionTextField"
                            placeholder="Enter the First Question" name="questions" value="<%= survey.questions[count] %>">
                    </div>
    
                        <% if(survey.type == 'Multiple Choice') { %>
                            <% let counter=count+1 %>
                            <div class="form-group">
                            <label for="answerTextField">Choices:</label>
                            <div id="AnswerTextField">
                                <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                            <input type="radio" aria-label="Radio button for following text input" name="group<%=count+1 %>">
                                          </div>
                                        </div>
                                        <input id="choiceOne" type="text" name="choices" class="form-control" value="<%= survey.choices[(counter*4)-4] %>">
                                    </div>      
                                    
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                            <input type="radio" aria-label="Radio button for following text input" name="group<%=count+1 %>">
                                          </div>
                                        </div>
                                        <input id="choiceTwo" type="text" name="choices" class="form-control" value="<%= survey.choices[(counter*4)-3] %>">
                                    </div>
        
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                            <input type="radio" aria-label="Radio button for following text input" name="group<%=count+1 %>">
                                          </div>
                                        </div>
                                        <input id="choiceThree" type="text" name="choices" class="form-control" value="<%= survey.choices[(counter*4)-2] %>">
                                    </div>
        
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                            <input type="radio" aria-label="Radio button for following text input" name="group<%=count+1 %>">
                                          </div>
                                        </div>
                                        <input id="choiceFour" type="text" name="choices" class="form-control" value="<%= survey.choices[counter*4-1] %>">
                                    </div>                                              
                                </div>
                            </div>
                        <% } %>
                        <% if(survey.type == 'Short Answer') { %>
                            <div class="form-group">                                

                            </div>
                        <% } %>
                <% } %>

                <div class="form-group" id="questions">

                </div>


                
            <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.js'></script>


              
            <script type="text/javascript">
            $(document).ready(function(){
            var q = $('#questiontag label').last().text();
            var qq = parseInt(q.substring(q.indexOf(' '))) + 1;
             $('#add').click(function(){     
               $("#questions").append('<label>Question ' + qq + '</label><input type="text" name=questions class="form-control"><br>')
               $('#questions').append('<label for="answerTextField">Answer ' + qq + '</label>')
               $('#AnswerTextField').clone().appendTo("#questions");
               $("#questions").append('<br>')
                qq++;
             });
            });
            </script>
                

                <button type="button" class="btn btn-primary" id="add">
                    <i class="fas fa-edit"></i> Add Question</button> 

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>